@media print {
	.print {
		.cell {
			h5 {
				font-size: 20px;
			}

			p {
				font-size: 18px;
			}
		}
	}
}

.print {
	.time-row {
		display: flex;
		padding: 5px 0;

		.time {
			width: 140px;
		}

		.cell {
			flex: 1;
			padding: 0 5px;
			& > * {
				padding: 20px;
			}
		}
	}
}
